DATABASE_URL="postgresql://han:sigma123@localhost:5432/aiproduct?schema=public"
PORT=4000
DEEPSEEK_API_KEY="your_deepseek_api_key_here"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
GOOGLE_CLIENT_ID="714314930440-2bt30ojbnh5ph9mvui822jcfu5jnn4gf.apps.googleusercontent.com"
